<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajax 사용하기</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <script>
        $(document).ready(function (){
            $("#btn-cal").on("click", function (){
                const num1Value = $("#num1").val();
                const num2Value = $("#num2").val();

                $.ajax({
                    url: "/ajax/ajaxCalResult",
                    type: "post",
                    data: {num1 : num1Value, num2: num2Value},
                    success: function (data){
                        alert(data);
                        // console.log(data.result)
                        // console.log(data.value)
                        $("#div-result").append("<label for='result' class='form-label'>계산결과</label>")
                        $("#div-result").append("<input type='text' class='form-control' id='result' readonly value='" + data + "'>")
                    },
                    error: function (){
                        alert("ajax 통신이 오류가 발생했습니다.")
                    }
                });
            });
        });
    </script>

</head>
<body>
<div class="container mt-5 p5">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <h3>ajax로 서버로 통신하기</h3>
      <hr>
      <div class="my-3">
        <label for="num1" class="form-label">첫번째 숫자 : </label>
        <input type="text" class="form-control" id="num1" placeholder="숫자를 입력해주세요">
      </div>
      <div class="my-3">
        <label for="num2" class="form-label">두번째 숫자 : </label>
        <input type="text" class="form-control" id="num2" placeholder="숫자를 입력해주세요">
      </div>
      <div class="my-3 d-grid gap-3">
        <button type="button" class="btn btn-primary" id="btn-cal">계산</button>
      </div>
      <br><hr><br>
      <div class="my-3" id="div-result">

      </div>
    </div>
  </div>
</div>
</body>
</html>