<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajax 사용하기</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container mt-5 p-5">
    <form action="/ajax/nonAjaxCalResult" method="get">
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <h3>Ajax 없이 서버와 통신하기</h3>
                <hr>
                <div class="my-3">
                    <label for="num1" class="form-label">첫번째 숫자:</label>
                    <input type="text" class="form-control" id="num1" name="num1" placeholder="숫자를 입력하세요">
                </div>
                <div class="my-3">
                    <label for="num2" class="form-label">두번째 숫자 :</label>
                    <input type="text" class="form-control" id="num2" name="num2" placeholder="숫자를 입력하세요">
                </div>
                <div class="d-grid gap-3">
                    <button type="submit">계산</button>
                </div>
            </div>
        </div>
    </form>

</div>

</body>
</html>