<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

  <script>
    $(document).ready(function (){
      $("#sel1").on("change", function (){
        const selectValue = $("#sel1 option:selected").val();
        const datas = {areaName: selectValue};

        $.ajax({
          url:"/ajax/selectbox1",
          type: "post",
          data: datas,
          success: function (data) {
            let selBox = $("#sel2");

            selBox.empty();
            selBox.append("<option>선택하세요</option>");

            for (let i = 0; i < data.length; i++) {
              selBox.append("<option>" + data[i].areaName + "</option>");
            }
          },
          error: function () {
            alert("ajax 통신 중 오류가 발생했습니다.");
          }
        });
      });
    });

    $(document).ready(function (){
      $("#sel2").on("change", function (){
        const selectValue = $("#sel2 option:selected").val();
        const datas = {area: selectValue};

        $.ajax({
          url:"/ajax/selectbox2",
          type: "post",
          data: datas,
          success: function (data) {
            let selBox = $("#sel3");

            selBox.empty();
            selBox.append("<option>선택하세요</option>");

            for (let i = 0; i < data.length; i++) {
              selBox.append("<option>" + data[i].areaName + "</option>");
            }
          },
          error: function () {
            alert("ajax 통신 중 오류가 발생했습니다.");
          }
        });
      });
    });
  </script>

</head>
<body>
<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h3>ajax를 이용하여 select box의 내용 변경하기</h3>
      <br>
      <div class="row">
        <div class="col-sm">
          <select class="form-control me-3" id="sel1">
            <option value="" selected>선택하세요</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="대구">대구</option>
            <option value="부산">부산</option>
          </select>
        </div>
        <div class="col-sm">
          <select class="form-control" id="sel2">
            <option value="" selected>선택하세요</option>
          </select>
        </div>
<!--        문제 1) 아래의 selectbox에 각 행정구역에 맞는 동을 자동으로 출력하는 프로그램을 작성하세요-->
<!--        ajax 통신을 통해서 자동 변경-->
<!--        동은 각각 2개씩만 출력-->
<!--        버튼 클릭 시 전체 행정구역 명을 alert()으로 출력-->
        <div class="col-sm">
          <select class="form-control" id="sel3">
            <option value="" selected>선택하세요</option>
          </select>
        </div>
      </div>
      <div class="d-grid gap-3 my-3">
        <button type="button" class="btn btn-primary" id="btn-ptr">주소 출력</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>