<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>외부 폴더 등록하기</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="container mt-5 p-5">
<!--  스프링의 view 화면에 출력하기 위한 리소스는 resources 폴더 아래의 static 폴더를 기준으로 함-->
<!--  static 폴더 내의 정보는 tomcat 서버가 동작할 시점의 데이터를 기준으로 함-->
<!--  이미지 파일같은 리소스를 tomcat 서버가 동작하고 있는 동안에 static 폴더 내부에 저장할 경우 해당 리소스를 바로 이용할수 없음-->
<!--  업로드된 리소스를 바로 사용하기 위해서 스프링 프레임워크에 외부 폴더를 등록하여 tomcat 서버 내부에 있는 폴더인 것처럼 사용하는 것이 가능함-->

    <h4>static 폴더 아래의 이미지 출력, src사용</h4>
    <img src="/img/메인쿤.jpg" alt="메인쿤.jpg" class="w-50"><br><br>

    <h4>static 폴더 아래의 이미지 출력, th:src를 사용</h4>
    <img src="/img/메인쿤.jpg" alt="메인쿤.jpg" th:src="@{/img/메인쿤.jpg}" class="w-50"><br><br>

    <h4>C:\java505\images\메인쿤.jpg 출력</h4>
    <img src="C:\\java505\\images\\메인쿤.jpg"><br><br>

    <h4></h4>
    <img src="/img/신사고양이.png" alt="신사고양이"><br><br>

    <h4>외부 폴더로 등록된 폴더의 이미지 출력</h4>
    <img src="C:\\java505\\images\\메인쿤.jpg" alt="메인쿤" th:src="@{/images/메인쿤.jpg}"><br>
    <img src="/imges/신사고양이.png" alt="신사고양이" th:src="@{/images/신사고양이.png}" class="w-50"><br>

    <h4>image 의 이름으로 2개의 외부 폴더를 등록 후 사용</h4>
    <img src="/image/004.png" th:src="@{/image/004.png}"><br>
    <img src="/image/005.png" th:src="@{/image/005.png}"><br>


</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>